# Ignore node_modules directory as dependencies should not be committed to the repository.
node_modules/

# Ignore npm debugging logs.
npm-debug.log*

# Ignore logs and generated build files.
logs/
dist/
build/

# Ignore any user-specific files or configuration.
*.log
*.swp
.DS_Store

# Ignore IDE-specific files and directories (e.g., Visual Studio Code).
.vscode/
.idea/

# Ignore any npm package-lock or yarn lock files.
package-lock.json
yarn.lock

# Ignore configuration files that might contain sensitive information.
config.js
